@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  user-select: none;
}

.canvas {
  width: 720px;
  height: 480px;
  @apply rounded-md;
}

canvas {
  @apply rounded-md;
}

.side {
  width: 124px;
  height: 300px;
  background: rgba(0, 0, 0, 0.3);
  @apply flex justify-between flex-wrap p-2 border-[1px] border-black rounded-md;
}

.palette-block {
  width: 34px;
  height: 34px;
  @apply border-[1px] border-black rounded-md;
}

.color-input {
  @apply w-40 h-20 cursor-pointer;
  @apply rounded-md;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: inherit;
}

input[type='color']::-webkit-color-swatch {
  outline: none;
  border-radius: inherit;
}

.tool {
  width: 50px;
  height: 50px;
  fill: rgba(255, 255, 255, 0.8);
  stroke: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  @apply border-2 rounded-md;
}

.tool:hover {
  background: rgba(255, 255, 255, 0.2);
}

.clear-canvas {
  width: stretch;
}

.clear-canvas:hover {
  width: stretch;
  background: rgba(255, 0, 0, 0.7);
}

.clicked {
  background: rgba(255, 255, 255, 0.5);
}

.line-width {
  background: rgba(0, 0, 0, 0.3);
  @apply w-72;
}

input[type='range'] {
  -webkit-appearance: none;
  @apply rounded-md cursor-pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 4px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 50%;
  transform: translateY(-4px);
}

input[type='range']:hover::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.9);
}
