@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  user-select: none;
}

@layer components {
  .palette-block {
    @apply w-12 h-12 border-[1px] border-black rounded-md;
  }
}

.canvas {
  width: 640px;
  height: 420px;
  border: 1px solid black;
}

.side {
  width: 176px;
  height: 540px;
}

.mask {
  @apply bg-black;
  opacity: 0.3;
}

.lobby-button {
  @apply border-2 border-black h-10 leading-10;
}

.color-input {
  width: 102px;
  height: 52px;
  appearance: none;
  cursor: pointer;
  background: none;
  box-sizing: content-box;
  outline: none;
  @apply w-40 h-20 border-[1px] border-black rounded-md appearance-none;
}

.clicked-tool {
  @apply bg-gray-400;
}
